.head {
     width: 30vmin;
     height: 50vmin;
     background: var(--color-main);
     border-top: var(--border);
     border-radius: 20vmin 20vmin 0vmin 0vmin;
     z-index: 1;
 }
 
 .head::before{
     width: 10vmin;
     height: 60vmin;
     top: 7vmin;
     left: -6vmin;
     background: var(--color-lienzo);
     border-radius: 60%;
     border-right: var(--border);
     transform: rotate(-6deg);
 } 
 
 .head::after{
     width: 10vmin;
     height: 10vmin;
     top: 7vmin;
     left: -10vmin;
     background: var(--color-lienzo);
 } 